.corpoLogin{
    min-height:calc(100vh - 256px);
    text-align: right;
    .sair{
        padding-right: 10%;
        font-style: normal;
        font-size: 20px;
        text-decoration: none;
        font-weight: 800;
        color: #31363F;
    }


}