h2{
    
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color:#F0572D;
}

.formLogin{
    text-align: center;
    .nomeSobrenome{
        @media (max-width: 650px) {
            flex-direction: column;
        }
        
    }
    .labels{
        display: block;
        text-align: left;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
    }

    .email, .senha, .csenha{
        width: 448px;
        height: 40px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin-bottom: 10px;
        @media (max-width: 650px) {
            max-width: 350px;
            
        }
        @media (max-width: 425px) {
            max-width: 250px;
        }
    }
    
    .btn-warning{
        background-color: #F0572D;
        color: #FFFFFF;
        border-color: #F0572D;
        min-width: 206px;
        min-height: 40px;
        
    }

    .btn-warning:hover{
       
        background-color: #f67d5b;
        color: #FFFFFF;
        border-color: #f67d5b;   
    }
}

.semConta{
    font-weight: 600;
    font-size: 12px;
    a{
        text-decoration: none;
        color:#F0572D;
    }
   
}
